body {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  font-family: "Orbitron", sans-serif;
  max-width: 100%;
}

h2 {
  margin: 5px 5px 20px 5px;
}

h3 {
  margin: 5px 0px 5px 0px;
}

p {
  display: block;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin: -20px 0 -15px 0;
}
form {
  margin: 1px 1px 20px 1px;
}

footer {
  text-align: center;
  margin: 0 auto;
  color: grey;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: grey;
  font-family: "Courier New", Courier, monospace;
}

.weather-app {
  max-width: 800px;
  border: 1px solid #dadde1;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
}
.date-display {
  font-size: 20px;
}

.description {
  color: grey;
}

hr {
  color: #dadde1;
}

footer {
  margin: 10px;
}

.col-sm {
  width: 15%;
  margin: 1px;
}

image {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#description {
  font-size: 20px;
  margin-left: -5px;
  line-height: 20px;
  padding: 20px 0 0px 0;
}
